*,
*::after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333;
  padding: 3rem;
  box-sizing: border-box; }

.container {
  margin: 0 auto;
  width: 80vw; }

h1 {
  font-size: 4rem;
  margin-bottom: 4rem;
  line-height: 4rem; }

.btn {
  display: block; }

.doors {
  width: 65%;
  float: right; }

.door {
  background-color: #333;
  display: inline-block;
  padding: 1rem;
  width: 10rem;
  height: 10rem;
  margin: .5rem;
  border-radius: .5rem; }

.number {
  color: #fff; }

.names {
  display: inline-block;
  width: 20%; }
